<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Code Formatting</string>
	<key>ordering</key>
	<array>
		<string>8B1447B6-7C99-4D2B-80D3-D3C98B088C12</string>
		<string>F0806B01-9F99-4799-855C-ACD693FA4456</string>
		<string>8DE301E1-C87E-4F1F-9153-8CCC479B934B</string>
	</array>
	<key>uuid</key>
	<string>7DD330CA-D3DD-4E48-91B3-7560233C0C1A</string>
</dict>
</plist>
